 <turbo-frame id="main_page">
<div class="row">
<div class="col m-2">
 <a href="{{ path('app_module_sommaire',{'id':sequence.module.id}) }}"> {{ sequence.module.acronyme}}</a>
 / <a href="{{ path('app_sequence_sommaire',{'id':sequence.id}) }}"> {{ sequence.title }}</a>
 / Exercices
<h2>{{ seance.intitule }}</h2>
<p>{{ seance.objectifs }}</p>

{% for exercice in seance.exercices %}
<p>
  <input type="checkbox" disabled {{ user.isExerciceDone(exercice) ? 'checked' :'' }}> {{ exercice.intitule }} [{{ exercice.type }}] </p>
{% endfor %}
</ul>

<a href="{{ path('app_seance_exercices',{'idSeance':seance.id,'num':1}) }}"> Démarrer</a>

</div>
<div class="col-3 m-2">
<h3>Progression</h3>
</p>Exercices: {{done}} / {{total}}</p>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{avancement}}" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: {{avancement}}%"></div>
</div>
<h3>Fiches révisions</h3>
<ul>
{% for fiche in sequence.getFicheRevisions() %}
  <li><a href="{{ asset('uploads/fichesrevisions/'~fiche.getFiche()) }}">{{ fiche.titre }}</a></li>
{% endfor %}
</ul>
</div>

</div>
</turbo-frame>
