 <turbo-frame id="main_page">
<div class="row">
<div class="col">
 <a href="{{ path('app_module_sommaire',{'id':sequence.module.id}) }}"> {{ sequence.module.acronyme}}</a>
 / <a href="{{ path('app_sequence_sommaire',{'id':sequence.id}) }}"> {{ sequence.title }}</a>
<h2>{{ seance.intitule }}</h2>
<p>{{ seance.objectifs }}</p>
<ul class="">
{% for exercice in seance.exercices %}
  <li>{{ exercice.intitule }} [{{ exercice.type }}] </li>
{% endfor %}
</ul>
{# #[Route('/home/seance/{idSeance}/exercices/{idExercice}', name: 'app_seance_exercices', methods: ['GET'])] #}
<a href="{{ path('app_seance_exercices',{'idSeance':seance.id,'idExercice':0}) }}"> Démarrer</a>

</div>
<div class="col-3">
<h3>Progression</h3>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 75%"></div>
</div>
<h3>Fiches révisions</h3>
<ul>
{% for fiche in sequence.getFicheRevisions() %}
  <li><a href="{{ asset('uploads/fichesrevisions/'~fiche.getFiche()) }}">{{ fiche.titre }}</a></li>
{% endfor %}
</ul>
</div>

   </div>
</turbo-frame>
