{% extends 'base.html.twig' %}

{% block title %}Sequence: {{ sequence.title }}{% endblock %}

{% block body %}
    <h2>{{ sequence.title }}</h2>
 <ul class="nav nav-tabs">
    {% for exerciceHTML in sequence.exerciceHTMLs %}
   
  <li class="nav-item">
    <a class="nav-link {% if exerciceHTML.id == firstExercice.id %}active {% endif %}" aria-current="page" href="{{ path('app_module_exercices', {id:sequence.id,idExercice:exerciceHTML.id}) }}">{{ exerciceHTML.title }}</a>
  </li>

   {% endfor %}
     </ul>
     <div class="row m-0 p-0">
    {{ firstExercice.title}} >
    </div>
    <div class="row" height="100%">

          <iframe class="" src="  {{asset('uploads/exercicehtml/' ~ firstExercice.filename)}}" width="1400" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

  </div>
   
{% endblock %}
