 <turbo-frame id="main_page">
    <h1>Edit Cursus</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex flex-row-reverse">
    <a class="btn btn-secondary  m-2" href="{{ path('app_cursus_index') }}"   data-turbo-frame="main_page">Retour aux Cursus</a>
    <button class="btn btn-primary m-2">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}

 </turbo-frame>
