 <turbo-frame id="main_page">
    <h1>Cursus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cursu in cursuses %}
            <tr>
                <td>{{ cursu.id }}</td>
                <td>{{ cursu.title }}</td>
                <td>
                    <a href="{{ path('app_cursus_show', {'id': cursu.id}) }}" data-turbo-frame="main_page">show</a>
                    <a href="{{ path('app_cursus_edit', {'id': cursu.id}) }}" data-turbo-frame="main_page">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cursus_new') }}"   data-turbo-frame="main_page">Create new</a>
</turbo-frame>
