 <turbo-frame id="main_page">
    <h1>Créer un cursus</h1>
    <p>Vous pouvez créer un nouveau cursus qui s'ajoutera aux autres.</p>
    <div class=" shadow-lg p-3 mb-2 bg-body-tertiary rounded">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex flex-row-reverse">
    <a class="btn btn-secondary  m-2" href="{{ path('app_cursus_index') }}"   data-turbo-frame="main_page">Retour aux Cursus</a>
    <button class="btn btn-primary m-2">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}

</div>
</turbo-frame>
