 <turbo-frame id="main_page">
    <h1>TypeExercice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_exercice in type_exercices %}
            <tr>
                <td>{{ type_exercice.id }}</td>
                <td>{{ type_exercice.intitule }}</td>
                <td>
                    <a href="{{ path('app_type_exercice_show', {'id': type_exercice.id}) }}">show</a>
                    <a href="{{ path('app_type_exercice_edit', {'id': type_exercice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_exercice_new') }}">Create new</a>
</turbo-frame>
