 <turbo-frame id="liste_sequences">
    <h2>Liste des Séquences</h2>

    <table class="table shadow-lg p-3 mb-2 bg-body-tertiary rounded">
        <thead>
            <tr>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sequence in module.sequences %}
            <tr>
                <td>{{ sequence.title }}</td>
                <td>
                    <a href="{{ path('app_sequence_show', {'id': sequence.id}) }}" data-turbo-frame="main_page"><img src="{{ asset('icons/eye.svg')}}"></a>
                    <a href="{{ path('app_sequence_edit', {'id': sequence.id}) }}" data-turbo-frame="main_page"><img src="{{ asset('icons/pencil-square.svg')}}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

         <div class="d-flex flex-row-reverse">
    <a class="btn btn-primary m-2" href="{{ path('app_sequence_new',{'idModule':module.id}) }}"   data-turbo-frame="main_page">Ajouter une Séquence</a>
    </div>
</turbo-frame>
