 <turbo-frame id="main_page">
      <h1>Administration</h1>
  <img src="{{ asset('icons/house.svg')}}"> <a href="{{ path('app_cursus_index') }}"   data-turbo-frame="main_page">Les Cursus</a>\ 
  <a href="{{ path('app_cursus_show',{'id':sequence.module.cursus.id}) }}"   data-turbo-frame="main_page">{{ sequence.module.cursus.getAcronyme() }} </a>
  \ <a href="{{ path('app_module_show',{'id':sequence.module.id}) }}"   data-turbo-frame="main_page"> {{ sequence.module.acronyme }}</a>
  \  {{ sequence.title }}
 / 
   <h2>{{ sequence.title }}</h2>
    <p>Une séquence avec un contenu multiple.</p>
     <div class="d-flex flex-row-reverse">
    <a class="btn btn-primary m-2" href="{{ path('app_sequence_edit', {'id': sequence.id}) }}" data-turbo-frame="main_page">Modifier</a>
    {{ include('admin/sequence/_delete_form.html.twig') }}
    </div>
<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
     <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Introduction</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_seance_index', {'idSequence': sequence.id}) }}" data-turbo-frame="liste_fiches">Séances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Synthèse</a>
  </li>
   <li class="nav-item">
   <a class="nav-link active"  href="{{ path('app_fiche_revision_index',{'idSequence':sequence.id})}}" data-turbo-frame="liste_fiches">fiches revisions</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Evaluations</a>
  </li>
</ul>


 <turbo-frame id="liste_fiches" src="{{ path('app_fiche_revision_index',{'idSequence':sequence.id})}}">
     </turbo-frame>
</turbo-frame>
