     <turbo-frame id="login_bar">
     <div class="row loginbar">
     <div class="col-10 text-light"></div>
     <div class="col-2 d-flex">
     <a href="{{ path('app_profile_update') }}" data-turbo-frame="main_page" ><img class="avatar_small" src="{{asset('uploads/avatars/' ~ user.getAvatar)}}"></a>
     <div class="dropdown m-2">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   {{user.getFirstName()}} {{user.getLastName()}}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  href="{{ path('app_profile_update') }}" data-turbo-frame="main_page">Editer profil</a></li>
    <li><a class="dropdown-item"  href="{{ path('app_logout') }}" data-turbo-frame="main_page">Déconnexion</a></li>
  </ul>
</div>
</div>
     </div>
  
    </turbo-frame>