 <turbo-frame id="liste_modules">
    <h2>Liste des Modules</h2>

    <table class="table shadow-lg p-3 mb-2 bg-body-tertiary rounded">
        <thead>
            <tr>
            <th></th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
            <td>{{ module.acronyme }}</td>
                <td>{{ module.title }}</td>
                <td>
                    <a href="{{ path('app_module_show', {'id': module.id}) }}" data-turbo-frame="main_page"><img src="{{ asset('icons/eye.svg')}}"></a>
                    <a href="{{ path('app_module_edit', {'id': module.id}) }}" data-turbo-frame="main_page"><img src="{{ asset('icons/pencil-square.svg')}}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      <div class="d-flex flex-row-reverse">
    <a class="btn btn-primary m-2" href="{{ path('app_module_new',{'idCursus':cursus.id}) }}"   data-turbo-frame="liste_modules">Ajouter un Module</a>
    </div>
</turbo-frame>
