 <turbo-frame id="main_page">
    <h1>Seance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Objectifs</th>
                <th>EstComplete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td>{{ seance.id }}</td>
                <td>{{ seance.intitule }}</td>
                <td>{{ seance.objectifs }}</td>
                <td>{{ seance.estComplete ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_seance_show', {'id': seance.id}) }}" data-turbo-frame="main_page">show</a>
                    <a href="{{ path('app_seance_edit', {'id': seance.id}) }}" data-turbo-frame="main_page">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_seance_new') }}" data-turbo-frame="main_page">Create new</a>
</turbo-frame>
