 <turbo-frame id="main_page">
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ seance.intitule }}</td>
            </tr>
            <tr>
                <th>Objectifs</th>
                <td>{{ seance.objectifs }}</td>
            </tr>
            <tr>
                <th>EstComplete</th>
                <td>{{ seance.estComplete ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_seance_index') }}" data-turbo-frame="main_page">back to list</a>

    <a href="{{ path('app_seance_edit', {'id': seance.id}) }}" data-turbo-frame="main_page">edit</a>

    {{ include('admin/seance/_delete_form.html.twig') }}
</turbo-frame>
