<turbo-frame id="main_page"> 
      <h1>Administration</h1>
  <img src="{{ asset('icons/house.svg')}}"> <a href="{{ path('app_cursus_index') }}"   data-turbo-frame="main_page">Les Cursus</a>\ 
  <a href="{{ path('app_cursus_show',{'id':exercice.seance.sequence.module.cursus.id}) }}"   data-turbo-frame="main_page">{{ exercice.seance.sequence.module.cursus.getAcronyme() }} </a>
  \ <a href="{{ path('app_module_show',{'id':exercice.seance.sequence.module.id}) }}"   data-turbo-frame="main_page"> {{ exercice.seance.sequence.module.acronyme }}</a>
  \ <a href="{{ path('app_sequence_show',{'id':exercice.seance.sequence.id}) }}"   data-turbo-frame="main_page" >{{ exercice.seance.sequence.title }}</a>
    \ <a href="{{ path('app_seance_show',{'id':exercice.seance.id}) }}"   data-turbo-frame="main_page" >{{ exercice.seance.intitule }}</a>
  \ {{ exercice.intitule }}
    <h2>Editer l'Exercice</h2> 
 <div class="shadow-lg p-3 mb-2 bg-body-tertiary rounded">
 {{ include('admin/exercice/_form.html.twig', {'button_label': 'Update'}) }}
</div>
</turbo-frame>
