<turbo-frame id="main_page"> 
      <h1>Administration</h1>
  <img src="{{ asset('icons/house.svg')}}"> <a href="{{ path('app_cursus_index') }}"   data-turbo-frame="main_page">Les Cursus</a>\ 
  <a href="{{ path('app_cursus_show',{'id':exercice.seance.sequence.module.cursus.id}) }}"   data-turbo-frame="main_page">{{ exercice.seance.sequence.module.cursus.getAcronyme() }} </a>
  \ <a href="{{ path('app_module_show',{'id':exercice.seance.sequence.module.id}) }}"   data-turbo-frame="main_page"> {{ exercice.seance.sequence.module.acronyme }}</a>
  \ <a href="{{ path('app_sequence_show',{'id':exercice.seance.sequence.id}) }}"   data-turbo-frame="main_page" >{{ exercice.seance.sequence.title }}</a>
    \ <a href="{{ path('app_seance_show',{'id':exercice.seance.id}) }}"   data-turbo-frame="main_page" >{{ exercice.seance.intitule }}</a>
  \ {{ exercice.intitule }}
    <h2>Exercice</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercice.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ exercice.intitule }}</td>
            </tr>
            <tr>
                <th>Instructions</th>
                <td>{{ exercice.instructions }}</td>
            </tr>
            <tr>
                <th>FichierSupport</th>
                <td>{{ exercice.fichierSupport }}</td>
            </tr>
            <tr>
                <th>FichierCorrection</th>
                <td>{{ exercice.fichierCorrection }}</td>
            </tr>
        </tbody>
    </table>
 <div class="d-flex flex-row-reverse">
    <a class="btn btn-primary m-2" href="{{ path('app_admin_exercice_edit', {'id': exercice.id}) }}" data-turbo-frame="main_page">Modifier</a>
    {{ include('admin/exercice/_delete_form.html.twig') }}
    </div>
</turbo-frame>
